<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt36wsH-Wq-gNoZomAkCVb6PFCWomMcqo</string>
	<key>GCM_SENDER_ID</key>
	<string>1067422879074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financialManagementApp</string>
	<key>PROJECT_ID</key>
	<string>spendwise-47c25</string>
	<key>STORAGE_BUCKET</key>
	<string>spendwise-47c25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067422879074:ios:33f59dcda8d9af6bd9303b</string>
</dict>
</plist>